/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    height: 750px;
}

section {
    height: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* data item template*/
.clsDataItemTemplate {
    display: flex;
    margin: 5px 0 0 0;
}

/* image */
.clsCommon {
    background: url('../images/common.png') no-repeat top left;
    background-repeat: no-repeat;
    display: block;
}

.clsview {
    width: 16px;
    height: 16px;
    background-position: 0 -1360px;
}

.clsedit {
    width: 16px;
    height: 16px;
    background-position: 0 -320px;
}

.clsdelete {
    width: 16px;
    height: 16px;
    background-position: 0 -272px;
}

    .clsview:hover, .clsedit:hover, .clsdelete:hover {
        cursor: pointer;
        background-color: #FFFFFF;
    }


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
